[Unit]
Description=Check GitHub for Attendance web updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=attendance-web-update.service

[Install]
WantedBy=timers.target
